<li{% if active %} class="active"{% endif %}>
    <a href="{{ path('ngrm.ngadmin.cloudinary.index') }}">
        <i class="fa fa-image"></i>
        <span class="tt">{{ 'ngremotemedia.cloudinary.dashboard.aside'|trans }}</span>
    </a>
</li>
