{% extends 'NetgenAdminUIBundle::pagelayout.html.twig' %}

{% block content %}
    <div class="context-block ngrm-library">
        <div id="path">
        </div>

        <div class="box-header">
            <h1 class="context-title">{{ "ngrm.cloudinary.library.title"|trans }}</h1>
            <div class="header-mainline">
                <a href="?type=image" class="btn {% if type == 'image' %}btn-primary{% else %}btn-default{% endif %}">Images</a>
                <a href="?type=video" class="btn {% if type == 'video' %}btn-primary{% else %}btn-default{% endif %}">Videos</a>
            </div>
        </div>

        <div class="panel">
            <div id="media-listing">
                {% include 'NetgenRemoteMediaBundle:ngadminui/plugin/dashboard:library_list.html.twig' %}
            </div>

            <div class="clearfix"></div>

            {% if next_cursor %}
                <div data-nextcursor="{{ next_cursor }}" class="load-more btn btn-primary">Load more</div>
            {% endif %}
        </div>
    </div>

    <script>
        $.urlParam = function(name){
            var results = new RegExp('[\?&]' + name + '=([^]*)').exec(window.location.href);
            if (results==null){
                return null;
            }
            else{
                return results[1] || 0;
            }
        }

        $(function(){
            //Put your code here
            $(".load-more").click(function(){
                var type = decodeURIComponent($.urlParam('type'));
                if (type === "null") type='image';

                var next_cursor = $(this).data('nextcursor');

                console.log(type, next_cursor);

                $.ajax({
                    method: "POST",
                    url: "{{ path('ngrm.ngadmin.cloudinary.library.load_more') }}",
                    data: { type: type, next_cursor: next_cursor }
                }).done(function(data) {
                    // loadmore?
                    if (data.next_cursor) {
                        $(this).data('nextcursor', data.next_cursor);
                    } else {
                        $(".load-more").remove();
                    }

                    $("#media-listing").append(data.html);
                });

            });
        });
    </script>
{% endblock %}
