{% extends 'NetgenAdminUIBundle::pagelayout.html.twig' %}

{% block content %}
    <div class="context-block ngrm-dashboard">
        <div id="path">

        </div>

        <div class="box-header">
            <h1 class="context-title">{{ "ngrm.cloudinary.multiupload.title"|trans }}</h1>
            <div class="header-mainline">Upload and generate content objects</div>
        </div>

        <div class="panel">
            {% if content_objects is not empty %}
                {% for content in content_objects %}
                    <a href="{{ path('ez_urlalias', { 'contentId': content.id }) }}">{{ ez_content_name(content) }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}
